<h1>New bookmark for <%= @list.name %></h1>

<%= simple_form_for([@list, @bookmark]) do |f| %>
  <%= f.input :comment %>
  <%= f.association :movie, input_html: {data: {controller: "tom_select"}} %>
  <%= f.button :submit %>
<% end %>
